/* form elements */
input.button 
{
    color: #FFFFFF;
    background-color: #DC6C37;
    border-top: solid 1px #FFFFFF;
    border-left: solid 1px #FFFFFF;
    border-right: solid 1px #FFFFFF;
    border-bottom: solid 1px #000000;
    margin: 2px 0px 2px 0px;
    
}

input.textbox 
{
    width: 338px;
    border: solid 1px #000000;
    margin: 2px 0px 2px 0px;
}

input.textboxAdmin 
{
    width: 167px;
    border: solid 1px  #000000;
    margin: 2px 0px 2px 0px;
}

textarea 
{
    width: 338px;
    height: 200px;
    border: solid 1px #000000;
    margin: 2px 0px 2px 0px;
}

select.sel
{
    width: 340px;
    border: solid 1px #000000;
}

select
{
     margin: 2px 0px 2px 0px;
}

.error
{
    color: #FF0000;
}
/* end formelements */