html, body, form {
	height: 100%;
}

body    
{
    margin: 0;
    padding: 0;
    background: #4D77C6 url(_images/bg.jpg) no-repeat top center;
    text-align: center;
}

table 
{
    border-collapse: collapse;
    border: none 0px;
    padding: 0;
    margin: 0;
}

td
{
    vertical-align: top;
}

td.field 
{
    width: 340px;
}

td.fieldlabel
{
    width: 140px;
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

div.framed 
{
    border: solid 1px #9CB6E9;
    padding: 10px;
    width: 460px;
    background-color: #ECF0F8;
}

ul 
{
	margin-left: 30px;
    list-style-type: square;
    color: #4D77C6;
}

.odd  
{
    background-color: #FFFFFF;
}

.even
{
    background-color: #ECF0F8;
}